# Authentication
tenancy_ocid         = "ocid1.tenancy.oc1.."
user_ocid            = "ocid1.user.oc1.."
fingerprint          = "1c.."
private_key_path     = "~/.oci/oci_api_key.pem"

# Region
region = "us-ashburn-1"

# Compartment
compartment_id = "ocid1.compartment.oc1."
